<!doctype html>
<html>
<head>
	<title>HW Assignment: Database interactions and UI</title>
	<style>
	table, th, tr, td{
 	border: 1px solid black;
	}
	</style>
</head>
<body>
	{{{body}}}
</body>
</html>